.header {
  height: 60px;
  border-bottom: 1px solid #e2e4e9;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 999;
}

.header .link {
  display: inline-block;
}

.header .logo {
  width: 36px;
  height: 36px;
  margin: 12px 12px 12px 0;
  float: left;
}

.header .title {
  margin: 0;
  line-height: 60px;
  font-size: 24px;
  float: left;
  color: #202936;
}

.header .language-switcher {
  position: absolute;
  top: 20px;
  right: 24px;
  line-height: 20px;
}


.language-switcher .current {
  color: #54bcf4;
}

.language-switcher button {
  color: #9aa1ac;
  height: 20px;
  cursor: pointer;
  line-height: 20px;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.language-switcher .divider {
  color: #e2e4e9;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
}

@media screen and (max-width: 767px) {
  .header .language-switcher {
    right: 12px;
  }
}